*,
html,
body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    user-select: none;
}

::-webkit-scrollbar{
    width:5px;
    height:5px;
}

::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-track{
    background-color:#f0ffff;
}

::-webkit-scrollbar-thumb{
    background-color:#9c9c9c2a;
}

.main-layout{
    display:flex;
    width:100vw;
    height:100vh;
}

.menu-layout{
    display:block;
    width:260px;
    box-shadow:0 0.5rem 1rem #00000026;
    transition: width 0.25s ease-in-out;
}

.menu-layout-icons{
    display:block;
    width:72px;
    box-shadow:0 0.5rem 1rem #00000026;
    min-width:40px;
    transition: width 0.4s ease-in-out;
}

.menu-layout-icons .container-logo,
.menu-layout-icons .list-menu-title{
    display:none !important;
}

.menu-layout-icons .container-angle-symbol{
    display:flex;
    align-items:center;
    justify-content:center !important;
    width:100%;
}

.menu-layout-icons .container-angle-symbol i{
    transform:none !important;
}

.menu-layout-icons .list-menu ul li{
    display:flex;
    justify-content:center;
}

.container-layout{
    width:calc(100% - 260px);
}

.container-layout-icons{
    width:calc(100% - 72px);
}

.logo-menu{
    width:100%;
    height:60px;
    display:flex;
}

.logo-menu .container-logo{
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    cursor:pointer;
}

.logo-menu .container-logo img{
    width:50px;
    height:50px;
    margin-top:5px;
    border-radius:50%;
}

.logo-menu .container-angle-symbol{
    display:flex;
    align-items:center;
    justify-content:flex-end;
}

.logo-menu .container-angle-symbol i{
    margin-right:10px;
    cursor:pointer;
    font-size:1.25rem;
    transform: rotate(180deg);
}

.logo-menu .container-angle-symbol i:hover{
    color:#ff0000;
}

.list-menu{
    width:100%;
    height:calc(100% - 60px);
}

.list-menu ul{
    padding:0;
    margin:0;
    width:100%;
    height:100%;
    overflow:hidden;
}

.list-menu ul:hover{
    overflow:auto;
}

.list-menu ul li{
    padding:10px 15px;
    font-size:1rem;
    font-family: Poppins;
    cursor:pointer;
    list-style-type: none;
    margin:5px 10px;
}

.menu-layout .list-menu ul li.dropdown-open{
    margin-bottom:0;
    padding-bottom:0;
}

.menu-layout .list-menu ul .sub-list-menu{
    width:100%;
    display:block;
    padding:0;
    margin:0;
    display:none;
}

.list-menu ul .sub-list-menu ul{
    margin:0;
    padding:0;
}

.list-menu ul li .mnu_icons_{
    width:25px;
    height:25px;
}

.list-menu ul li.menu-clickable:hover .mnu_icons_,
.list-menu ul li.menu-selected .mnu_icons_{
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(225deg) brightness(103%) contrast(102%);
}

.list-menu ul .menu-selected,
.list-menu ul li.menu-clickable:hover{
    background-color:#ff0000;
    color:#fff;
    border-radius: var(--bs-border-radius-sm);
    margin:5px 10px;
}

.menu-layout .list-menu ul li.dropdown-open .sub-list-menu{
    display:block;
}

.menu-layout .list-menu ul li.dropdown-open .sign-down{
    transform: rotate(90deg);
}

.menu-layout-icons .list-menu ul li.menu-dropdown .sign-down,
.menu-layout-icons .list-menu ul li.menu-dropdown .sub-list-menu{
    display: none;
}

.navbar-container{
    width:100%;
    height:60px;
    box-shadow:0 0.125rem 0.25rem #00000013;
    background-color:#f5f5f5;
    display: flex;
}

.component-container{
    width:100%;
    height:calc(100% - 60px);
    padding:1rem;
    background-color:#d1d1d1;
    overflow: auto;
}

.title-navbar-left{
    font-family: Poppins;
    height:100%;
    padding:0 0 0 15px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    font-weight:bolder;
}

.title-navbar-left h5{
    margin:0;
    padding:0;
    white-space: nowrap;
}

.title-navbar-right{
    display: flex;
    font-size:1.25rem;
    font-family: Poppins;
    justify-content:flex-end;
    width:100%;
    height:100%;
}

.title-navbar-right .title-navbar-container{
    display:flex;
    align-items:center;
    gap:1rem;
    height:100%;
}

.title-navbar-container .tnc-user,
.title-navbar-container .tnc-notification{
    display:flex;
    align-items:center;
    position:relative;
}

.title-navbar-container .tnc-user i,
.title-navbar-container .tnc-notification i{
    cursor:pointer;
    margin-right:20px;
    font-size:1.35rem;
}

.title-navbar-container .tnc-user i:hover,
.title-navbar-container .tnc-notification i:hover{
    cursor:pointer;
    margin-right:20px;
    font-size:1.35rem;
    color:var(--bs-primary);
}

.tnc-user .tnc-user-setting{
    display:flex;
    flex-direction: column;
    gap:1rem;
    position:absolute;
    width:200px;
    box-shadow: 0 0.5rem 0.7rem #00000026;
    top:44px;
    right:10px;
    font-size:1.05rem;
    background-color:#fff;
    display:none;
    z-index:10;
}

.tnc-user .tnc-user-setting ul{
    width:100%;
    height:100%;
    list-style-type: none;
    margin:0;
    padding:10px;
    background-color: #fff;
}

.tnc-user .tnc-user-setting ul li{
    display:flex;
    align-items:center;
    cursor:pointer;
    padding:10px;
}

.tnc-user .tnc-user-setting ul li:hover{
    background-color:#ff0000;
    color:#fff;
    border-radius: var(--bs-border-radius-sm);
}